.app {
  padding: 100px 50px;
  margin: 0 auto;

  min-height: 100vh;
  max-width: 1280px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

code {
  padding: 64px;
  background-color: white;
}
